* {
  box-sizing: border-box;
}

body {
  background-color: #1f2833;
  color: white;
  font-family: 'Cardo', serif;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
